<h1>Welcome to Closet! </h1>

<h3> Categories </h3>
  <p><%= link_to "All", outfits_path %></p>
  <p> <%= link_to "Casual", category_path(category: 'casual') %> </p>
  <p> <%= link_to "Business", category_path(category: 'business') %> </p>
  <p> <%= link_to "Night Out", category_path(category: 'night_out') %> </p>
  <p> <%= link_to "Fancy", category_path(category: 'fancy') %> </p>

<h3><%= link_to "Favorites", favorite_path(favorite: true) %> </h3>

<%= form_tag(find_tag_outfits_path, method: :get) do %>
  <% @tags.each do |tag| %>
    <%= label_tag(tag.label) %>
    <%= check_box_tag "search_tags[]", tag.label %>
  <% end %>
  <%= submit_tag("SEARCH", class: 'secondary button search-button') %>
<% end %>
