<%= form_for @outfit, method: @post_method, url: @post_path, html: { multipart: true } do |f| %>
  <% if @outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% @outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_worn %><br>
    <%= f.datetime_select :last_worn %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :reworn_count %><br>
    <%= f.number_field :reworn_count %>
  </div>
  <div class="field">
    <%= f.label :favorite %><br>
    <%= f.check_box :favorite %>
  </div>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
