<p id="notice"><%= notice %></p>

<div class="title-bar filter-button-toggle-menu" data-responsive-toggle="filtering-menu" data-hide-for="large">
  <button data-toggle class="filter-toggle-button"><h2>FILTER</h2></button>
</div>

<ul id ="filtering-menu" class="vertical menu large-horizontal" data-responsive-menu="accordion">
<!-- large-dropdown -->
  <li class="filter-menu">
    <%= link_to "All", outfits_path %>
  </li>

  <li class="filter-menu">
    <a href="#"> Categories </a>
    <ul class="vertical menu category-menu">
      <li> <%= link_to "Casual", category_path(category: 'casual') %> </li>
      <li> <%= link_to "Business", category_path(category: 'business') %> </li>
      <li> <%= link_to "Night Out", category_path(category: 'night_out') %> </li>
      <li> <%= link_to "Fancy", category_path(category: 'fancy') %> </li>
    </ul>
  </li>

  <li class="filter-menu">
    <%= link_to "Favorites", favorite_path(favorite: true) %>
  </li>

  <% if @tagged_outfits == nil %>
  <li class="filter-menu">
    <a href="#"> Tags </a>
    <ul class="vertical menu">
        <%= form_tag(tags_path, method: :get, class: 'tags-form-filtering') do %>
          <% @tags.each do |tag| %>
            <%= hidden_field_tag :category, @category %>
            <%= hidden_field_tag :favorite, @favorite %>
            <li class="columns small-6 medium-6 tags-dropdown-form"><a>
              <%= label_tag(tag.label) %>
              <%= check_box_tag "search_tags[]", tag.label %>
            </a></li>
          <% end %>
          <%= submit_tag("SEARCH", class: 'secondary button search-button tags-search-button') %>
        <% end %>
    </ul>
  </li>
  <% end %>
</ul>


<%= render partial: 'sectionindex' %>
