<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outfit.name %>
</p>

<p>
  <strong>Last worn:</strong>
  <%= @outfit.last_worn %>
</p>

<p>
  <strong>Category:</strong>
  <%= @outfit.category %>
</p>

<p>
  <strong>Reworn count:</strong>
  <%= @outfit.reworn_count %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @outfit.favorite %>
</p>

<%= image_tag(@outfit.photo.url(:medium), alt: "photo of #{@outfit.name}") %>

<% unless @tags.length == 0 %>
  <p>
    <strong>Tags:</strong>
    <% @tags.each do |tag| %>
      <p> <%= tag.label %> </p>
    <% end %>
  </p>
<% end %>


<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
