<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outfit.name %>
</p>

<p>
  <strong>Last worn:</strong>
  <%= @outfit.last_worn %>
</p>

<p>
  <strong>Category:</strong>
  <%= @outfit.category %>
</p>

<p>
  <strong>Reworn count:</strong>
  <%= @outfit.reworn_count %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @outfit.favorite %>
</p>

<%# image_tag(@outfit.photo.url(:large), alt: "photo of #{@outfit.name}") %>

<% if @outfit.photos != [] && @outfit.photos.length != 0 %>
  <% @outfit.photos.each do |photo| %>
    <%= image_tag(photo.image.url(:large), alt: "photo of #{@outfit.name}") %>
  <% end %>

<% elsif @outfit.photo.url !=  "/photos/original/missing.png" %>
  <td><%= link_to(image_tag(@outfit.photo.url(:large), alt: "photo of #{@outfit.name}"), outfit_path(id: @outfit.id)) %></td>

<% else %>
  <td>No Photo</td>
<% end %>






<% unless @tags.length == 0 %>
  <p>
    <strong>Tags:</strong>
    <% @tags.each do |tag| %>
      <p> <%= tag.label %> </p>
    <% end %>
  </p>
<% end %>


<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
