<% unless @user_outfits == nil %>
<div class="title-bar filter-button-toggle-menu" data-responsive-toggle="filtering-menu" data-hide-for="large">
  <button data-toggle class="filter-toggle-button"><h2>FILTER</h2></button>
</div>

<ul id ="filtering-menu" class="vertical menu large-horizontal" data-responsive-menu="accordion large-dropdown">

  <li class="filter-menu">
    <%= link_to "All", outfits_path %>
  </li>


  <% if @category == nil || @category == '' %>
  <li class="filter-menu">
    <a href="#"> Categories </a>
    <ul class="vertical menu category-menu">
        <li> <%= link_to "Casual", category_path(category: 'casual',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
        <li> <%= link_to "Business", category_path(category: 'business',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
        <li> <%= link_to "Night Out", category_path(category: 'night_out',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
        <li> <%= link_to "Fancy", category_path(category: 'fancy',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
    </ul>
  </li>
  <% end %>


  <% if @favorite == nil || @favorite == '' || @favorite == false %>
    <li class="filter-menu">
      <%= link_to "Favorites", favorite_path(favorite: true) %>
    </li>
  <% end %>
</ul>

<%= render partial: '/outfits/sectionindex' %>


</div>

<% else %>
  <h3> Please <%= link_to 'Sign In', "/auth/facebook", id: "sign_in" %> to Begin </h3>
<% end %>
