<% unless @user_outfits == nil %>
<div class="filter-menu-container">
  <div class="filter-menu">
      <h3><%= link_to "All", outfits_path %></h3>
  </div>

  <% if @category == nil || @category == '' %>
  <div class="filter-menu">
  <ul class="dropdown menu"  data-dropdown-menu>
    <li class="has-dropdown menu" >
      <a href="#"><h3> Categories </h3></a>
      <ul class="dropdown menu vertical category-dropdown">
        <li> <%= link_to "Casual", category_path(category: 'casual',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
        <li> <%= link_to "Business", category_path(category: 'business',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
        <li> <%= link_to "Night Out", category_path(category: 'night_out',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
        <li> <%= link_to "Fancy", category_path(category: 'fancy',  tagged_outfits: @outfits, favorite: @favorite) %> </li>
      </ul>
    </li>
  </ul>
  </div>
  <% end %>


  <% if @favorite == nil || @favorite == '' || @favorite == false %>
  <div class="filter-menu">
    <h3><%= link_to "Favorites", favorite_path(favorite: true, tagged_outfits: @outfits, category: @category) %> </h3>
  </div>
  <% end %>

    <%= render partial: '/outfits/sectionindex' %>




</div>

<% else %>
  <h3> Please <%= link_to 'Sign In', "/auth/facebook", id: "sign_in" %> to Begin </h3>
<% end %>
