<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Closet" %></title>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Julius+Sans+One|Kaushan+Script|Open+Sans|Open+Sans+Condensed:300|Ranga" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="/js/vendor/modernizr.js"></script>
  </head>

  <body>
    <header>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section row">
          <!-- Right Nav Section -->
          <div id="responsive-menu" class="columns small-3 header-align-center">
          <ul class="dropdown menu"  data-dropdown-menu><!-- left -->
            <li class="has-dropdown menu profile-logo" >
              <a href="#"><%= image_tag('user.png', alt: 'user profile',  size: '25x25', class: "icon-nav") %></a>
              <ul class="dropdown menu vertical">
                <% if current_user %>
                  <li><%= link_to 'Profile', user_path(current_user) %> </li>
                  <li class=""><%= link_to "Sign out", logout_path, id: "sign_out", method: :delete%> </li>
                <% else %>
                  <li> <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>

          <ul class="title-area top-bar-title columns small-6 header-align-center">
            <li class="name">
              <h1> <%= link_to "Closet", root_path %></h1>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="columns small-2 header-align-center"> <!-- right -->
            <li> <%= link_to(image_tag('add.png', alt: 'new outfit', size: '25x25', class: "icon-nav"), new_outfit_path) %></li>
          </ul>
        </section>
      </nav>
    </div>
    </header>
    <%= yield %>

    <script>
      $(document).foundation();
    </script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
  </body>
</html>
